.flex-container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
  }
  
  .flex-items-card {
    width: 33%;
    height: 200px;
    display: block;
  }